<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IngresoProfesor</servlet-name>
        <servlet-class>controlador.IngresoProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>controlador.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaCursosAc</servlet-name>
        <servlet-class>controlador.STablaCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaEstudiantesAc</servlet-name>
        <servlet-class>controlador.TablaEstudiantesAc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificarEstudiante</servlet-name>
        <servlet-class>controlador.CalificarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCurso</servlet-name>
        <servlet-class>controlador.EditarCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoProfesor</servlet-name>
        <url-pattern>/IngresoProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaCursosAc</servlet-name>
        <url-pattern>/TablaCursosAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaEstudiantesAc</servlet-name>
        <url-pattern>/TablaEstudiantesAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificarEstudiante</servlet-name>
        <url-pattern>/CalificarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCurso</servlet-name>
        <url-pattern>/EditarCurso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
